.place-container{
    display:flex;
}
.sreemongol-container{
    color: white;
    margin-left: 70px;
    font-size: 15px;
    padding-right: 30px; 
    width: 60%;
    margin-top: 50px;
}
#heading{
    text-align: center;
}
.booking-container{
    margin-left: 20px;
    box-sizing: border-box;
    outline:none;
    background-color: #fff;
    border-radius: 8px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
.booking-btn{
    background-color: orange;
    width: 100%;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
input[type=text] {
    width: 100%;
    padding: 5px;
    margin: 5px 0 5px 0;
    border: none;
    background: #f1f1f1;
  }
  .date{
      display:flex;
  }