.bg-image{
    background-position: center center;
    background-size: 100% 100%; 
    background-size: cover;
    background-attachment: fixed;
    height: 625px;
    
}
.bg-image img{
    height: 60px;
    color: white;
    
}
#heading1{
    color: white;
    margin-left: 20px;
    margin-right: 20px;   
}
#heading2{
    color: white;
    margin-right: 20px;
}
#heading3{
    color: white;
    margin-right: 20px; 
}
#heading4{
    color: white;
    margin-right: 20px;  
}

#login-btn{
    padding-left: 15px;
    padding-right: 15px;
}


