
.category img{
    border-radius: 25px;
    height: 340px;
    margin-left: 42px; 
    padding: 0;  
} 
.category img:hover{
    border: 5px solid yellow;  
}
.category{
    position: relative;
}
.category .placeName1{
  position: absolute;
  top: 70%;
  width: 70%;
  font-size:20px;
  color: white;
  margin-left: 86px;
}
.category .placeName2{
    position: absolute;
    top: 70%;
    width: 70%;
    font-size:20px;
    color: white;
    margin-left: 79px;
}

.category .placeName3{
  position: absolute;
  top: 70%;
  width: 70%;
  font-size:20px;
  color: white;
  margin-left: 79px;
}
.placeName1 span{
  margin-left:39px;
}
.placeName2 span{
  margin-left:12px;
}
.placeName3 span{
  margin-left:12px;
}

.cards{
    margin-top:35px;  
}

/* slider button starts here */
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  a:hover {
    background-color: #ddd;
    color: black;
  }
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  .next {
    background-color: #f1f1f1;
    color:black;
  }
  .round {
    border-radius: 50%;
  }
  .button{
      text-align: center;
  }
  a:hover:not(.active) {
    background-color:transparent;
  }
  
 